.hero_image {
    width: 100%;
}
a {
    color: black;
}
aside .ad_img {
    width: 15em;
    height: auto;
}
.twitter_icon {
    color: #00aced;
}
.facebook_icon {
    color: #3b5998;
}
.tumblr_icon {
    color: #34465D;
}